.container {
  position: absolute;
  left: 10px;
  top: 10px;
  /*text-align: center;*/
}

.container h2 {
  font-size: 3rem;
}

.container a {
  font-size: 1.4rem;
}

.selectCountry {
    max-width: 200px;
    width: 150px;
    z-index: 100;
    float: right;
    margin-right: 10px;
}

.selectSkill {
    max-width: 200px;
    width: 150px;
    z-index: 100;
    float: right;
    margin-right: 10px;
}

.filterButton {
    float: right;
    width: 100px;
    height: 35px;
}

.crawlingButton {
    width: 150px;
    height: 36px;
}

.crawlingDeveloperInfo {
    width: 150px;
    height: 36px;
    margin-left: 10px;
}

.settingButton {
    width: 100px;
    height: 36px;
    color: white;
}

.settingButton a {
    color: white;
}

.crawlerArea {
  float: left;
  width: 100%;
}

.seedUrlBox {
  width: 300px;
  float: right;
}

.crawlerButton {
  float: left;
}

.selectPage {
  width: 100px;
  z-index: 100;
  float: right;
  margin-left: 10px;
}

.filterArea {
  margin-bottom: 10px;
}
