.container {
  position: absolute;
  left: 10px;
  /*text-align: center;*/
}

.container h2 {
  font-size: 3rem;
}

.container a {
  font-size: 1.4rem;
}

.selectCountry {
    max-width: 200px;
    width: 150px;
    z-index: 100;
    float: right;
    margin-right: 10px;
}

.selectSeed {
    max-width: 200px;
    width: 150px;
    height: 100px;
    /*margin-left: 10px;*/
    /*margin-top: 80px;*/
}
